In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('./cdk1_clue.txt', delimiter = '\t')

In [25]:
df.columns = [0]

num = df[0].str.split('|').str[1]
num2 = []
for i in num:
    try:
        i = i.strip()
        num2.append(i)
    except:
        num2.append(i)
        continue
df['RANK'] = num2

drug = df[0].str.split('|').str[2]
drug2 = []
for i in drug:
    try:
        i = i.strip()
        drug2.append(i)
    except:
        drug2.append(i)
        continue
df['Drug Name'] = drug2

target = df[0].str.split('|').str[3]
target2 = []
for i in target:
    try:
        i = i.strip()
        target2.append(i)
    except:
        target2.append(i)
        continue
df['Target Name'] = target2

score = df[0].str.split('|').str[4]
score2 = []
for i in score:
    try:
        i = i.strip()
        score2.append(i)
    except:
        score2.append(i)
        continue
df['Binding Score'] = score2

del df[0]

In [26]:
df

      RANK       Drug Name  Target Name  Binding Score
0     Rank       Drug Name  Target Name  Binding Score
1      NaN             NaN          NaN            NaN
2        1          PIK-75         CDK1           5.12
3        2     eticlopride         CDK1           7.98
4        3        CP-99994         CDK1          10.95
...    ...             ...          ...            ...
6806  6805        dextrose         CDK1     1625196.18
6807  6806         lindane         CDK1     1640211.07
6808  6807  2-fluorofucose         CDK1     1763216.73
6809  6808       L-alanine         CDK1     2023311.25
6810   NaN             NaN          NaN            NaN

[6811 rows x 4 columns]

In [27]:
df = df.drop([df.index[0],df.index[1],df.index[6810]])
df

      RANK        Drug Name Target Name Binding Score
2        1           PIK-75        CDK1          5.12
3        2      eticlopride        CDK1          7.98
4        3         CP-99994        CDK1         10.95
5        4    difluprednate        CDK1         28.03
6        5       NVP-AUY922        CDK1         35.97
...    ...              ...         ...           ...
6805  6804  carnitine-(D/L)        CDK1    1578764.36
6806  6805         dextrose        CDK1    1625196.18
6807  6806          lindane        CDK1    1640211.07
6808  6807   2-fluorofucose        CDK1    1763216.73
6809  6808        L-alanine        CDK1    2023311.25

[6808 rows x 4 columns]

In [28]:
df.to_csv('./cdk1_clue.txt', sep = '\t', index = False)

repurposing 결과 binary의 경우

In [13]:
df = pd.read_csv('./save_folder/results_aggregation/repurposing.txt', delimiter = '\t')

In [14]:
df.columns = [0]

num = df[0].str.split('|').str[1]
num2 = []
for i in num:
    try:
        i = i.strip()
        num2.append(i)
    except:
        num2.append(i)
        continue
df['RANK'] = num2

drug = df[0].str.split('|').str[2]
drug2 = []
for i in drug:
    try:
        i = i.strip()
        drug2.append(i)
    except:
        drug2.append(i)
        continue
df['Drug Name'] = drug2

target = df[0].str.split('|').str[3]
target2 = []
for i in target:
    try:
        i = i.strip()
        target2.append(i)
    except:
        target2.append(i)
        continue
df['Target Name'] = target2

interaction = df[0].str.split('|').str[4]
interaction2 = []
for i in interaction:
    try:
        i = i.strip()
        interaction2.append(i)
    except:
        interaction2.append(i)
        continue
df['interaction'] = interaction2

score = df[0].str.split('|').str[5]
score2 = []
for i in score:
    try:
        i = i.strip()
        score2.append(i)
    except:
        score2.append(i)
        continue
df['Probability'] = score2

del df[0]

In [15]:
df = df.drop([df.index[0],df.index[1],df.index[6113]])
df

      RANK                Drug Name Target Name interaction Probability
2        1               Varlitinib        EGFR         YES        0.92
3        2               Canertinib        EGFR         YES        0.92
4        3              Dacomitinib        EGFR         YES        0.92
5        4         AV-412 free base        EGFR         YES        0.92
6        5                 Afatinib        EGFR         YES        0.92
...    ...                      ...         ...         ...         ...
6108  6107                Tenovin-1        EGFR         YES        0.77
6109  6108  4-Acetamidobenzoic acid        EGFR         YES        0.77
6110  6109             Benzoic acid        EGFR         YES        0.77
6111  6110              Phenacemide        EGFR         YES        0.77
6112  6111              Tecovirimat        EGFR         YES        0.77

[6111 rows x 5 columns]

In [17]:
df.to_csv('repurposing2.txt', sep = '\t', index = False)