In [1]:
import pandas as pd

f1 = pd.read_csv('9606.protein.actions.detailed.v9.1.txt', sep = '\t')

In [2]:
f1

,item_id_a,item_id_b,mode,action,a_is_acting,score,sources,transferred_sources
0,9606.ENSP00000000233,9606.ENSP00000294179,binding,NaN,0,170,NaN,grid
1,9606.ENSP00000000233,9606.ENSP00000282606,binding,NaN,0,168,NaN,grid bind mint
2,9606.ENSP00000000233,9606.ENSP00000234626,binding,NaN,0,170,NaN,intact
3,9606.ENSP00000000233,9606.ENSP00000229319,binding,NaN,0,234,NaN,grid
4,9606.ENSP00000000233,9606.ENSP00000223369,binding,NaN,0,170,NaN,grid reactome
...,...,...,...,...,...,...,...,...
926125,9606.ENSP00000420825,9606.ENSP00000296871,expression,inhibition,0,265,NaN,kegg_pathways
926126,9606.ENSP00000420825,9606.ENSP00000304283,expression,NaN,1,303,NaN,NaN
926127,9606.ENSP00000420828,9606.ENSP00000312435,binding,NaN,0,316,NaN,NaN
926128,9606.ENSP00000420828,9606.ENSP00000318520,binding,NaN,0,310,NaN,NaN
926129,9606.ENSP00000420828,9606.ENSP00000415481,binding,NaN,0,310,NaN,NaN

In [5]:
lists = f1['action']

In [13]:
temp = pd.Series(lists)
print(temp.value_counts())

activation    25042
inhibition    14060
Name: action, dtype: int64

In [21]:
f2 = pd.read_csv('9606.protein.links.detailed.v9.1.txt', sep = ' ')

In [22]:
f2

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000020673,0,0,0,0,0,0,176,176
1,9606.ENSP00000000233,9606.ENSP00000054666,0,0,0,0,88,0,309,327
2,9606.ENSP00000000233,9606.ENSP00000158762,0,0,0,0,0,0,718,718
3,9606.ENSP00000000233,9606.ENSP00000203407,0,0,0,272,0,0,0,272
4,9606.ENSP00000000233,9606.ENSP00000203630,0,0,0,241,0,0,0,241
...,...,...,...,...,...,...,...,...,...,...
4850623,9606.ENSP00000420828,9606.ENSP00000376623,0,0,0,0,0,0,609,609
4850624,9606.ENSP00000420828,9606.ENSP00000377944,0,0,0,0,162,0,0,162
4850625,9606.ENSP00000420828,9606.ENSP00000381436,0,0,0,0,0,0,185,185
4850626,9606.ENSP00000420828,9606.ENSP00000415481,0,0,0,0,0,0,247,247
4850627,9606.ENSP00000420828,9606.ENSP00000419266,0,0,0,0,160,0,0,160